<div id="contenedor-general">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenido, Suscriptor</h1>
    <p class="lead">
      Esta página permite al admin disponer de un CRUD de usuarios y
      un buscador por filtrado de texto, en donde aquellos que esten agregados con el rol de suscriptor puedan visualizar
      el contenido y las funcionalidades de que dispone la página para el suscriptor.
    </p>
    <hr class="my-4">
    <p>Para mas información a cerca del autor de la pagina puede visitar el siguiente en enlace</p>
    <a class="btn btn-primary btn-lg" href="http://linkedin.com/in/estivengomezcasta" role="button">Linkeid</a>
  </div>
</div>

